coverage
dash
fastapi
ipython
jupysql
pandas
parameterized
polars
pyarrow
pydantic
pygeos ; python_version < '3.12'
pytest
pytest-cov
shapely
singlestore-vectorstore>=0.1.2
sphinx
sphinx_rtd_theme
uvicorn
